<!-- partial studentdetails.html -->

<h2> {{subtitel}} </h2>

<div class="film" ng-model="opleiding">

    <div class="kol" ng-controller="CompareController">



        <h2> {{ opleiding.oplNaam }}  <small> -- {{opleiding.oplCode}} --</small></h2>

        <p> Max duurtijd: {{opleiding.duur}} maanden</p>

        <dl class="studentDet">
            <dt> Beschrijving:</dt>
            <dd> {{opleiding.beschrijving}} </dd>
        </dl>


        <dl ng-repeat="opleiding in student.opleiding" class="studentDet">
            <dt> Opleiding:</dt>
            <dd> {{opleiding.oplNaam}} </dd>
            <dt> Opleidingscode:</dt>
            <dd> {{opleiding.oplCode}}</dd>
            <dt> Start opleiding:</dt>
            <dd> {{opleiding.begin}}</dd>
            <dt> Geslaagd?</dt>
            <dd> {{opleiding.geslaagd}}</dd>
            <dt> Beschrijving:</dt>
            <dd> {{opleiding.beschrijving}}</dd>

        </dl>

    </div>

    <div class="knopDet">
        <button><a ng-href="#/opleidingen/edit/{{student._id}}"> edit </a></button>
        <button><a ng-href="#/opleidingen"> Terug naar Opleiding overzicht </a></button>
    </div>



<!--

   <div class="kol" >
        <h2> [{{$index}}] {{ student.familieNaam }} {{student.voorNaam}} <small>&#45;&#45; {{movie.filmNr}} &#45;&#45;</small></h2>
&lt;!&ndash;        <p> {{movie.beschrijving}}</p>
        <dl>
            <dt> Regisseur:</dt>
            <dd> {{movie.regisseur}} </dd>
            <dt> genre:</dt>
            <dd> {{movie.genre}} </dd>
            <dt> duurtijd:</dt>
            <dd> {{movie.duur}} </dd>
            <dt> release:</dt>
            <dd> {{movie.release}} </dd>
            <dt> Cast:</dt>
            &lt;!&ndash;<dd> {{movie.cast}} </dd>&ndash;&gt;
        </dl>
        <a ng-href="#/films/edit/{{movie._id}}"> edit </a>
    </div>
    <p> <a ng-href="#/films/"> terug naar filmlijst </a> </p>&ndash;&gt;
</div>-->
