<!-- partial studentdetails.html -->

<h2> {{subtitel}} </h2>

<div class="film" ng-model="student">

   <div class="kol" >
        <h2> [{{$index}}] {{ student.familieNaam }} {{student.voorNaam}} <small>-- {{movie.filmNr}} --</small></h2>
<!--        <p> {{movie.beschrijving}}</p>
        <dl>
            <dt> Regisseur:</dt>
            <dd> {{movie.regisseur}} </dd>
            <dt> genre:</dt>
            <dd> {{movie.genre}} </dd>
            <dt> duurtijd:</dt>
            <dd> {{movie.duur}} </dd>
            <dt> release:</dt>
            <dd> {{movie.release}} </dd>
            <dt> Cast:</dt>
            &lt;!&ndash;<dd> {{movie.cast}} </dd>&ndash;&gt;
        </dl>
        <a ng-href="#/films/edit/{{movie._id}}"> edit </a>
    </div>
    <p> <a ng-href="#/films/"> terug naar filmlijst </a> </p>-->
</div>