<!-- partial studentdetails.html -->

<h2> {{subtitel}} </h2>

<div class="film" ng-model="student">



   <div class="kol" >



        <h2> {{ student.familieNaam }} {{student.voorNaam}} <small>IKL -- {{student.iklNr}} --</small></h2>

        <p> Rijksregisternummer: {{student.rrNr}}</p>

        <dl class="studentDet">
            <dt> Adresgegevens:</dt>
            <dd> {{student.adres}} </dd>
            <dt> Email:</dt>
            <dd> <a href="mailto:{{student.email}}"> {{student.email}} </a></dd>
        </dl>

        <dl ng-repeat="opleiding in student.opleiding" class="studentDet">
            <dt> Opleiding:</dt>
            <dd> {{opleiding.oplNaam}} </dd>
            <dt> Opleidingscode:</dt>
            <dd> {{opleiding.oplCode}}</dd>
            <dt> Start opleiding:</dt>
            <dd> {{opleiding.begin}}</dd>
            <dt> Geslaagd?</dt>
            <dd> {{opleiding.geslaagd}}</dd>
            <dt> Beschrijving:</dt>
            <dd> {{opleiding.beschrijving}}</dd>

        </dl>

    </div>



    <div class="knopDet">
        <button><a ng-href="#/students/oplnew/{{student._id}}"> opleiding toevoegen </a></button>
        <button><a ng-href="#/students/edit/{{student._id}}"> edit </a></button>
        <button><a ng-href="#/students"> Terug naar Student overzicht </a></button>
    </div>



</div>